/*
 MeteorScada doesn't need CSS as far as JSS is used.
 But one CSS file is still required to apply global CSS hacks.
*/

/* set default font */
html { font-family: 'Roboto', sans-serif; }

/* Removing input background colour for webkit autocomplete */
@-webkit-keyframes autofill {
    to {
        color: #fff;
        background: transparent;
    }
}

input:-webkit-autofill {
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
}
